.Login {
    align-items: center;
    background: 0;

    &:hover {
        cursor: pointer;

        & > * {
            fill: var(--color-main-accent);
            color: var(--color-main-accent);
        }
    }

    p {
        color: var(--color-main-text);
        font-size: 20px;
        text-transform: uppercase;
    }

    svg {
        fill: #fff;
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}

.popup-content {
    background-color: var(--color-main-level3) !important;
    border: 0 !important;
    width: initial !important;
    padding: 10px !important;

    form {
        display: flex;
        flex-direction: column;

        label {
            margin: 10px 0;
        }
    }
}