.Login {
    align-items: center;
    background: 0;

    &:hover {
        cursor: pointer;

        & > * {
            fill: var(--color-main-accent);
            color: var(--color-main-accent);
        }
    }

    p {
        color: var(--color-main-text);
        font-size: 20px;
        text-transform: uppercase;
    }

    svg {
        fill: #fff;
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}

.isLoggedIn {
    &:hover &-DropDown {
        display: flex;
    }

    &-DropDown {
        background-color: var(--color-main-level3);
        display: none;
        position: absolute;
        flex-direction: column;
        z-index: 1;

        a, button {
            padding: 10px 10px;
            text-decoration: none;
            cursor: pointer;
            background-color: transparent;
            font-size: 12px;
            text-align: center;

            color: var(--color-main-text);

            &:hover {
                background-color: var(--color-main-level4);
            }
        }
    }
}

.popup-content {
    form {
        display: flex;
        flex-direction: column;

        label {
            margin: 10px 0;
        }
    }
}