@import "./abstract/abstract";

@import "./base/root";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input,
button {
    border: none;

    &:focus, &:active {
        outline: none;
    }
}

body {
    margin: 0;
    background-color: var(--color-main-background);
    color: var(--color-main-text);
}

.popup-content {
    background-color: var(--color-main-level3) !important;
    border: 0 !important;
    width: initial !important;
    padding: 10px !important;
}