$color-prefix: --color-;

$colors: (
    test: (
        red: red
    ),
    main: (
        background: #121224,
        text: #fff,
        level1: #242436,
        level3: #2d2d3F,
        level4: #242432,
        accent: #ffe419,
        accent-dark: #d3bd17
    )
);